.paragraph {
  overflow: hidden;
  cursor: pointer;
  display: flex;

  p {
    line-height: 1.5;
    height: 120px;
    margin-bottom: 0;
  }
}

.expanded {
  p {
    height: 100%;
  }
}

.expandColumn {
  width: 2px;
  background: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  flex-shrink: 0;
}
